/* .demo{
    border: 1px solid gray;
    background: rgb(88, 5, 21);
    width: 100px;
} */
.randomStyle{
    border: 1px solid red;
    text-align: center;
    color: gray;
}

.randomStyle1{
    border: 1px solid black;
    text-align: center;
    color: gray;
}